# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# IDEs
.idea/
.vscode/
*.iml

# Platform
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Misc
*.log
